.all{
  text-align: center;
}

.info{
  padding-bottom: 40px;
}

.name{
  padding-bottom: 40px;
}

.address{
  padding-bottom: 40px;
}

.listing_classification{
  padding-bottom: 40px;
}

.place{
  padding-bottom: 40px;
}

.type{
  padding-bottom: 40px;
}

.industry{
  padding-bottom: 40px;
}

.employees{
  padding-bottom: 40px;
}

.manager{
  padding-bottom: 40px;
}


